{
    "albedo": [
        0.08,
        0.22,
        0.32
    ],
    "slope_azimuth": [
        0,
        75,
        210,
        285,
        360
    ],
    "slope": [
        0.0,
        15.0,
        30.0
    ],
    "tau": [
        0.02,
        0.30,
        0.62
    ],
    "elevation": [
        -5.0,
	    -2.0,
	    -1.0,
        1.0,
        6.0,
	    8.0
    ],
    "inertia": [
        24,
        3000,
        20
    ],
    "emissivity": [
        0.85,
        0.90,
        1.00
    ]
}
